{% extends 'base.html.twig' %}
{% block body %}
{% set url_not_image = 'https://thumbs.dreamstime.com/b/no-angry-person-mosaic-grunge-not-available-stamp-seal-lines-mosaic-no-angry-person-pictogram-red-not-available-seal-171894178.jpg' %}

<style>
@media (min-width:1400px) {
    .container {
        max-width: 100%;
    padding: 0;
}
}
@media (min-width:1200px) {
    .container {
        max-width: 100%;
    padding: 0;
}
}
</style>
<div class="row sec"> 
    <div class="col-md-6 col-sm-4 col-xs-6 lefts">
       <a href="#"><div>
           
   <span>Лидский завод электроизделий</span>
    <span>Производство светотехники</span></br>
   
    </div> </a>
    </div>
   

   
    <div class="col-md-6 lzes">


    <div class="col-md-6 zak sec1">
        <a href="/catalog/"><div> <span>Каталог</span></br></div> </a>
     </div>
     <div class="col-md-6 zak sec2">
        <a href="#"><div><span>Портфолио</span></br> </div> </a>
     </div>
     
     <div class="col-md-6 zak sec3">
        <a href="#"><div><span>Новости</span></br> </div> </a>
     </div>
     
     <div class="col-md-6 zak sec4">
        <a href="#"><div><span>Вакансии</span></br> </div> </a>
     </div>
     






    </div>




  

   
</div>



<div class="container zlot">

<div class="col-sm-4">
<div><span>Директор:</span></div>
<div><span>+375(29)336-55-55</span></div>
<div><span>Директор:</span></div>
<div><span>+375(29)336-55-55</span></div>
<div><span>Директор:</span></div>
<div><span>+375(29)336-55-55</span></div>
</div>


<div class="col-sm-4">
    <div><span>Директор:</span></div>
    <div><span>+375(29)336-55-55</span></div>
    <div><span>Директор:</span></div>
    <div><span>+375(29)336-55-55</span></div>
    <div><span>Директор:</span></div>
    <div><span>+375(29)336-55-55</span></div>
    </div>
    
    <div class="col-sm-4">
        <div><span>Директор:</span></div>
        <div><span>+375(29)336-55-55</span></div>
        <div><span>Директор:</span></div>
        <div><span>+375(29)336-55-55</span></div>
        <div><span>Директор:</span></div>
        <div><span>+375(29)336-55-55</span></div>
        </div>
</div>













{% endblock %}