{% extends 'base.html.twig' %}
{% block body %}



<h1 class="title_category_page">Страница пользователя: {{ current_user.username }}</h1>
    <div class="row">


        <table class="table table-light ">
            <thead>
            <tr>

                <th scope="col">Title</th>
                <th scope="col">Дата</th>
                 <th scope="col">#</th>
                    </tr>
                </thead>
<tbody>

    {%  for item_user in user_items %}



                <tr>


                    <td>{{ item_user.title }}</td>
                    <td>{{ item_user.dateCreated|date("d.m.Y") }}</td>
                    <td><a href="#delete"><i class="bi bi-trash"></i></a>
                        <a href="{{ path('edit', {'id': item_user.id }) }}"><i class="bi bi-pencil"></i></a></td>
                </tr>





    {%  endfor %}

      </tbody>

      </table>

</div>



{% endblock %}